:root {
  --background-colour: #30d5c8;
  --snow-white: #fffafa;
  --eletric-yellow: #FFFF00;
  --zig-zags: #000000FF;
  --bill-board: rgba(240, 46, 170, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, var(--background-colour) 50%, rgba(0,212,255,1) 100%);
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 10px solid deepskyblue;
}

.zig-zags, .zig-zags-overlay {
  height: 100%;
  width: 100%;
}

.pointer-inner-container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.zig-zags {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  transform: rotate(45deg);
  z-index: -1;
}

.zig-zag {
  height: 100%;
  width: 1px;
  background-color: var(--zig-zags);
}

.zig-zags-overlay {
  position: absolute;
  top: 0;
  background-color: transparent;
  height: 120%;
  width: 120%;
  top: -10%;
  left: -10%;
  z-index: -1;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 80%;
  width: 80%;
  display: flex;
}

.intro-image-container, .intro-text-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.intro-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-image-container, .small-image-container {
}

.big-image-container {
  height: 75%;
  width: 75%;
  position: absolute;
  top: 12.5%;
  left: 12.5%;
}

.small-image-container {
  height: 25%;
  width: 25%;
  position: absolute;
}

.small-image-container:nth-child(1) {
  top: 0;
  left: 0;
}

.small-image-container:nth-child(2) {
  top: 0;
  right: 0;
}

.small-image-container:nth-child(3) {
  bottom: 0;
  right: 0;
}

.small-image-container:nth-child(4) {
  bottom: 0;
  left: 0;
}

.intro-text-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting, .my-name {
  font-size: 8rem;
  font-weight: 700;
}

.greeting {
  color: var(--snow-white);
}

.my-name-container {
  background-color: rgba(240, 46, 170, 1);
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.my-name {
  color: var(--eletric-yellow);
  animation: 1s infinite alternate flash-name;
  -webkit-text-stroke:  1px #000000;
}

.pointer-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 75px;
  width: 75px;
}

.pointer-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--snow-white);
}

.fa-arrow-right-long {
  color: royalblue;
  position: absolute;
  animation: 1s infinite alternate move-point;
}

@keyframes flash-name {
  0% {
    color: var(--bill-board);
  }

  100% {
    color: var(--eletric-yellow);
  }
}

@keyframes move-point {
  0% {
    left: 10px;
  }

  100% {
    left: 30px;
  }
}

